<!-- ventes.component.html -->
 <!-- <div class="daxa-form ml-auto mr-auto border-radius bg-white"
     [class.card-borderd-theme]="themeService.isCardBorder()"
     [class.component-dark-theme]="themeService.isDark()"
     [class.rtl-enabled]="themeService.isRTLEnabled()">

  <app-amount-by-date
    [chartOptions]="chartOptions"
    [isChartReady]="isChartReady"
    [selectedDate]="selectedDate"
    [chosenMonthHandler]="chosenMonthHandler.bind(this)"
    [chosenYearHandler]="chosenYearHandler.bind(this)">
  </app-amount-by-date>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 col-xl-4 mb-4">
        <app-total-income [totalRevenue]="totalRevenue"></app-total-income>
      </div>
      <div class="col-md-6 col-xl-4 mb-4">
        <app-yearly-income [totalYearly]="totalRevenueSelectedYear"></app-yearly-income>
      </div>
      <div class="col-md-6 col-xl-4 mb-4">
        <app-monthly-income [totalMonthly]="totalRevenueSelectedMonth"></app-monthly-income>
      </div>
    </div>
  </div>
</div>  -->

















































 <!-- <div class="daxa-form ml-auto mr-auto border-radius bg-white" 
     [class.card-borderd-theme]="themeService.isCardBorder()"
     [class.component-dark-theme]="themeService.isDark()"
     [class.rtl-enabled]="themeService.isRTLEnabled()">
  
  <mat-card class="daxa-card total-leads-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
      <mat-card-title>
        <h5 class="mb-0">Amount By Date</h5>
      </mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="outline" class="mb-3 w-100">
      <mat-label>Choose a Date</mat-label>
      <input matInput [matDatepicker]="picker" [value]="selectedDate" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" (monthSelected)="chosenMonthHandler($event, picker)" (yearSelected)="chosenYearHandler($event)">
      </mat-datepicker>
    </mat-form-field>
    
    <mat-card-content>
      <div class="chart">
        <apx-chart
          *ngIf="isChartReady"
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
          [dataLabels]="chartOptions.dataLabels">
        </apx-chart>
      </div>
    </mat-card-content>
  </mat-card>



  <mat-card class="daxa-card total-revenue-card mb-25 border-radius bg-white border-none d-block">
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <div class="title">
                  <h5>
                      Total income
                  </h5>
            <div class="number fw-medium lh-1">
              {{ totalRevenue }}
            </div>
     </div>

      <mat-card class="daxa-card total-revenue-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-content>
          <div class="d-flex justify-content-between">
            <div class="title">
                <h5>
                  Yearly income
                </h5>
          <div class="number fw-medium lh-1">
            {{ totalRevenueSelectedYear }}
          </div>
   </div>
  


   <mat-card class="daxa-card total-revenue-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
      <div class="d-flex justify-content-between">
        <div class="title">
            <h5>
              Monthly income
            </h5>
      <div class="number fw-medium lh-1">
        {{ totalRevenueSelectedMonth }}
      </div>
</div> -->



<!-- ventes-page.component.html -->
<!-- <div
class="daxa-form ml-auto mr-auto border-radius bg-white"
[class.card-borderd-theme]="themeService.isCardBorder()"
[class.component-dark-theme]="themeService.isDark()"
[class.rtl-enabled]="themeService.isRTLEnabled()"
>
<div class="container">
  <app-amount-by-date
    [selectedDate]="selectedDate"
    [isChartReady]="isChartReady"
    [chartOptions]="chartOptions"
    (dateChange)="onDateChange($event)">
  </app-amount-by-date>

  <app-total-revenue [totalRevenue]="totalRevenue"></app-total-revenue>
  <app-yearly-revenue [totalRevenueSelectedYear]="totalRevenueSelectedYear"></app-yearly-revenue>
  <app-monthly-revenue [totalRevenueSelectedMonth]="totalRevenueSelectedMonth"></app-monthly-revenue>
</div>
</div> -->


<div class="daxa-form ml-auto mr-auto border-radius bg-white" 
     [class.card-borderd-theme]="themeService.isCardBorder()"
     [class.component-dark-theme]="themeService.isDark()"
     [class.rtl-enabled]="themeService.isRTLEnabled()">

<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
  <mat-card-header>
    <mat-card-title>
      <h5 class="mb-0">Date Range Picker </h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <!-- <p>Selected range: {{ range.value | json }}</p> -->
  </mat-card-content>
</mat-card>

<app-amount-by-date
  [isChartReady]="isChartReady"
  [chartOptions]="chartOptions"
></app-amount-by-date>

<div class="row">
  <div class="col-md-6">
    <app-total-revenue [totalRevenue]="totalRevenue"></app-total-revenue>
  </div>
  <div class="col-md-6">
    <app-date-range-revenue [totalRevenueInDateRange]="totalRevenueInDateRange"></app-date-range-revenue>
  </div>
</div>
</div>