

<div
        class="daxa-form ml-auto mr-auto border-radius bg-white"
        [class.card-borderd-theme]="themeService.isCardBorder()"
        [class.component-dark-theme]="themeService.isDark()"
        [class.rtl-enabled]="themeService.isRTLEnabled()"
      >

<div class="daxa-form ml-auto mr-auto border-radius bg-white">
  <div class="d-flex justify-content-center">
    <h5 class="mb-0">Delivery Tape</h5>
  </div>  
  <mat-card class="mb-4 p-3">
    <form [formGroup]="range" class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date de début</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="start">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date de fin</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="end">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <app-amount-by-date [isChartReady]="isChartReady" [chartOptions]="chartOptions"></app-amount-by-date>

  <div class="row">
    <div class="col-md-6">
      <app-total-revenue [totalRevenue]="totalRevenue"></app-total-revenue>
    </div>
    <div class="col-md-6">
      <app-date-range-revenue [totalRevenueInDateRange]="totalRevenueInDateRange"></app-date-range-revenue>
    </div>
  </div>
</div>
</div>