// .ventesfac-title {
//     text-align: center;
//     font-size: 25px;
//     font-weight: 600;
//     margin-bottom: 12px;
//     color: #3f51b5; // Couleur Material primaire
//   }


.date-range-picker {
    margin-bottom: 20px;
    max-width: 300px;
}

.daxa-card {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#spline_area_chart {
    margin-top: 20px;
}
