<!-- Breadcrumb -->
<div
        class="daxa-form ml-auto mr-auto border-radius bg-white"
        [class.card-borderd-theme]="themeService.isCardBorder()"
        [class.component-dark-theme]="themeService.isDark()"
        [class.rtl-enabled]="themeService.isRTLEnabled()"
      >
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Add User
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Users
        </li>
        <li class="breadcrumb-item position-relative">
            Add User
        </li>
    </ol>
</div>

<!-- Add User -->
<div class="row">
    <div class="col-xxl-7 col-xxxl-8">
      <mat-card
        class="daxa-card add-user-card mb-25 border-radius bg-white border-none d-block"
        [class.rtl-enabled]="themeService.isRTLEnabled()"
      >
        <mat-card-header>
          <mat-card-title>
            <h5 class="mb-0">Add User</h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <!-- Name -->
              <div class="col-sm-6">
                <div class="mb-25">
                  <label class="main-label d-block lh-1 text-black">Name</label>
                  <mat-form-field>
                    <mat-label>Enter name</mat-label>
                    <input matInput type="text" formControlName="name" />
                  </mat-form-field>
                </div>
              </div>
  
              <!-- Username -->
              <div class="col-sm-6">
                <div class="mb-25">
                  <label class="main-label d-block lh-1 text-black">Username</label>
                  <mat-form-field>
                    <mat-label>Enter username</mat-label>
                    <input matInput type="text" formControlName="username" />
                  </mat-form-field>
                </div>
              </div>
  
              <!-- Email -->
              <div class="col-sm-6">
                <div class="mb-25">
                  <label class="main-label d-block lh-1 text-black">Email Address</label>
                  <mat-form-field>
                    <mat-label>Enter email address</mat-label>
                    <input matInput type="email" formControlName="email" />
                  </mat-form-field>
                </div>
              </div>
  
              <!-- Password -->
              <div class="col-sm-6">
                <div class="mb-25">
                  <label class="main-label d-block lh-1 text-black">Password</label>
                  <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                      <span class="material-symbols-outlined">
                        {{ hide ? 'visibility_off' : 'visibility' }}
                      </span>
                    </button>
                  </mat-form-field>
                </div>
              </div>
  
              <!-- Roles -->
              <div class="col-sm-12">
                <div class="mb-25">
                  <label class="main-label d-block lh-1 text-black">Roles</label>
                  <mat-form-field>
                    <mat-label>Select roles</mat-label>
                    <mat-select formControlName="roles" multiple>
                      <mat-option value="ROLE_USER">ROLE_USER</mat-option>
                      <mat-option value="ROLE_ADMIN">ROLE_ADMIN</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
  
              <!-- Description (Optional) -->
              <div class="col-sm-12">
                <div class="mb-25">
                  <label class="main-label d-block lh-1 text-black">Add Some Info</label>
                  <mat-form-field class="textarea">
                    <mat-label>Write your description</mat-label>
                    <textarea matInput placeholder="E.g. It makes me feel..."></textarea>
                  </mat-form-field>
                </div>
              </div>
  
              <!-- Image Upload -->
              <div class="col-sm-12">
                <div class="mb-25">
                  <label class="main-label d-block lh-1 text-black">Customer Image</label>
                  <file-upload class="file-uploader" [multiple]="multiple"></file-upload>
                </div>
              </div>
            </div>
  
            <!-- Buttons -->
            <div class="btn-box">
              <button mat-button color="primary" type="submit" [disabled]="authForm.invalid">
                Add User
              </button>
              <button mat-button type="button">Cancel</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>